{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<link rel="stylesheet" href="{% static 'CSS/administracion.css' %}">

<div class="boxxx">
<h2>Ejemplo de tabla HTML</h2>
<table>
  <tr>
    <th>Obra</th>
    <th>Titulo</th>
    <th>Estado</th>
    <th>Comentario</th>
  </tr>
  {% for obra in  obras %}
  <tr>
    <td><img class="imagen" src="{{obra.foto.url}}" alt=""></td>
    <td>{{obra.nombre}}</td>
      <form name="modificarobra-{{obra.id_obra}}"  class="form-modificarobra" action="{% url 'ADM' %}" 
      id="modificarobra-{{obra.id_obra}}" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <select class="estado"  name="chkestado" id="chkestado">
          <option value="False">Desaprobado</option>
          <option value="True">Aprobado</option>
        </select>
        
        <input type="hidden" name="txtid" id="txtid" value="{{obra.id_obra}}">
      
    </td>
    <td>
      <textarea name="txtcomentario" id="" cols="30" rows="5"></textarea>
      </form>
      <button type="button" class="btn btn-primary" onclick="Swal.fire({
        title: '¿Estas seguro?',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Modificar!',
        cancelButtonText: 'Cancelar  '
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById('modificarobra-{{obra.id_obra}}').submit();
          }
      });">Modificar</button>
    </td>
  </tr>
  {% endfor %}
  
  
</table>
</div>
{% endblock contenido %}