{% extends 'base.html' %} {% load static %} {% block contenido %}
<link rel="stylesheet" href="{% static 'CSS/carrito.css' %}" />

<div class="boxxx">

      {% if request.session.carrito.items %}
      {% for key, value in request.session.carrito.items  %}
      <ul></ul>
      <li>
        <h1>{{value.precio}}</h1>
      </li>

      {% endfor %}


    {% else %} {% endif %}
  </div>
</div>
<script src="{% static 'JS/carrito.js' %}"></script>
<script>
  function eliminar(id) {
    location.href = "/eliminar_car/" + id + "/";
  }
  function quitar(id) {
    location.href = "/quitar/" + id + "/";
  }
  function agregar(id) {
    location.href = "/agregar/" + id + "/";
  }
</script>
{% endblock contenido %}
